<% layout('layouts/boilerplate')%>
 <!-- HEADER -->
  <div class="header-img">
    <div class="white-bg"></div>
     <div class="container  d-flex align-items-center">
        <div class="content">
          <h1>Welcome to <span class="colored-text">RentIT</span></h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, molestiae.</p>
          
       </div>
     </div>
   </div>




   <!-- HEADER ICONS -->
   <div class="container icon-container">
     <div class="row">
       <div class="col-md-3 mt-0">
         <div class="icon-card">
           <img src="/images/21.jpg" width="50" height="150" class="card-img-top" alt="vesuvio">
           <h5>Apartments</h5>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quos?</p>
           <a href="#" class="btn btn-info">Find your & reserve</a>
         </div>
       </div>
       <div class="col-md-3 mt-0">
         <div class="icon-card">
           <img src="/images/24.jpeg" width="50" height="150" class="card-img-top" alt="vesuvio">
           <h5>Houses</h5>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quos?</p>
           <a href="#" class="btn btn-warning">Find your & reserve</a>
         </div>
       </div>
       <div class="col-md-3 mt-0">
         <div class="icon-card">
         <img src="/images/s1.jpg" width="50" height="150" class="card-img-top" alt="vesuvio">
           <h5>Condos</h5>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quos?</p>
           <a href="#" class="btn btn-danger">Find your & reserve</a>
         </div>
       </div>
       <div class="col-md-3 mt-0">
         <div class="icon-card">
           <img src="/images/22.jpg" width="50" height="150" class="card-img-top" alt="vesuvio">
           <h5>About us</h5>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quos?</p>
           <a href="#" class="btn btn-success">More about us</a>
         </div>
       </div>
     </div>
   </div>



  
    <!-- ABOUT -->
   <div class="about-section">
       <div class="container">
         <div class="row">
           <div class="col-sm-12 d-flex flex-column align-items-center">
             <span class="section-badge"><h1>The #1 Site for Renters</h1></span>
             <h2> Choose from over <span class="colored-text"> 1 million apartments , houses and townhomes for rent.</span></h2>
             <p><h6>Renting Made Simple</h6> Browse the highest quality listings, apply online, sign your lease, and even pay your rent from any device.</p>
         </div>
         <div class="col-md-12 col-lg-6">
           <img src="/images/s5.jpg" class="im img-fluid" style="width: 100%;" alt="vesuvio">
         </div>
         <div class="col-md-12 col-lg-6 d-flex flex-column justify-content-center">
           <h3>Find Your Next Renter.</h3>
           <p>Connect with millions of renters and lease your property 100% online!</p>
           <section class="mt-4 mb-4">
             <div class="section-item">
                  <div class="icon-box">
                      
                  </div>
               <div class="text-box">
                 <h6>Tips for Renters</h6>
                 <p class="p-0">Find answers to all of your renting questions with the best renter’s guide in the galaxy!</p>
                  <a href="#" class="btn btn-info"><i class="far fa-eye"></i></a>
               </div>
             </div>
             <div class="section-item">
                  <div class="icon-box">
                       
                  </div>
               <div class="text-box">
                 <h6>Take Us With Yous</h6>
             <p class="p-0">Keep RentIT.com in the palm of your hand throughout your rental journey.</p>
             <a href="#" class="btn btn-info"><i class="far fa-eye"></i></a>
             
               </div>
             </div>
           </section>
         </div>
       </div>
     </div>
   </div>  