<% layout('layouts/boilerplate')%>


    
        <div class="sub">
            <h1>Condos</h1>
        </div>
   

    <div class="container">
  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="card">
        <img src="/images/condos/12.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe house</h2>
          <p class="title">Vracar</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@exampl.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="card">
        <img src="/images/condos/16.jpg" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Mike Ross house</h2>
          <p class="title">Zvezdara</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@exampl.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="card">
        <img src="/images/condos/18.jpeg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe house</h2>
          <p class="title">Sopot</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@exampl.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="card">
        <img src="/images/condos/17.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Natalie Dok house</h2>
          <p class="title">Sopot</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@exampl.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>